<div id="container">
  <h2 id="about-the-project">About The Project</h2>
  <p class="usage-text"><span>Open Delivery - Menu Generator</span> is a tool that provides a graphical view of a MERCHANT following the <a href="https://abrasel-nacional.github.io/docs/#tag/merchantStructure">Merchant Schema</a> of the <a href="https://abrasel-nacional.github.io/docs/">Open Delivery</a> standard.</p>
  <h2>Usage:</h2>
  <p class="usage-text">Copy your <b>Merchant</b> JSON schema following the Open Delivery standard specification into the Textarea and click Generate Menu.<br>
    If your JSON is not following the schema, you may get errors.<br><br>  
    Alternatively, you can choose some ready-made JSON examples to check their structure and graphical view.</p>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <span>{{EXAMPLE_LABEL}}</span>
    <mat-form-field class="form-examples" appearance="outline">
      <mat-label>Choose one:</mat-label>
      <mat-select formControlName="example" id="example">
        <mat-option (click)="clearTextArea()">No Example</mat-option>
        <mat-option *ngFor="let example of getExamples" [value]="[example.name]" (click)="setSelectedExample(example)">
          <span> {{example.name}} </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>{{FORM_LABEL}}</span>
    <mat-form-field appearance="outline">
      <textarea formControlName="json" matInput name="" id="json" placeholder="{}" cols="50" rows="15" ></textarea>
    </mat-form-field>
    <button [disabled]="form.invalid" class="btn-validate" type="submit"
      mat-raised-button>{{BUTTON_GENERATE_MENU}}</button>
  </form>

  <div class="mt-3" *ngIf="showError">
    <span class="label">RESULT :</span>
    <div class="result">
      <div class="invalid">
        {{JSON_INVALID_MESSAGE}}
      </div>
    </div>
  </div>
</div>